<!-- Application navbar section -->
<app-navbar (themeModeHander)="onThemModeChange($event)"></app-navbar>

<div class="white-mode-wrapper" [ngClass]="{'dark-mode-wrapper': darkMode}">
    <div class="wrapper">
        <!-- Application toolbar section -->
        <div class="toolbar-section">
            <div class="row">
                <div class="col-3 toolbar-item" (click)="file.click()">
                    <i class="fa fa-upload" aria-hidden="true"></i><br/>
                    <input type="file" style="display: none;" #file (change)="onFileSelected($event)"/>
                    <p>Import Log File</p>
                </div>

                <div class="col-3 toolbar-item">
                    <i class="fa fa-file" aria-hidden="true"></i><br/>
                    <p>Log Template</p>
                </div>

                <div class="col-3 toolbar-item">
                    <i class="fa fa-download" aria-hidden="true"></i><br/>
                    <p>Export Log File</p>
                </div>

                <div class="col-3 toolbar-item">
                    <i class="fa fa-cog" aria-hidden="true"></i><br/>
                    <p>Settings</p>
                </div>
            </div>
        </div>

        <!-- Application filter section -->
        <div class="filter-section">
            <input #filterInput class="filter-input" type="text" placeholder="Filter by words"/>

            <select #selectInput class="select-input">
                <option value="Contains">Contains</option>
                <option value="Excludes">Excludes</option>
            </select>

            <button class="add-filter" (click)="onFilterCriteriaAdd(filterInput.value, selectInput.value, filterInput)"><i class="fa fa-plus" aria-hidden="true"></i></button>

            <select class="time-window-input">
                <option value="0">All time</option>
                <option value="1">12 hrs</option>
                <option value="2">6 hrs</option>
                <option value="3">3 hrs</option>
                <option value="4">1 hrs</option>
            </select>

            <button class="search-filter"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

        <!-- Application filter display section -->
        <div *ngIf="filterCriteriaList.length > 0" class="filter-display-section">
            <p *ngFor="let filterCriteria of filterCriteriaList; let i = index" (click)="onFilterCriteriaRemove(i)">{{filterCriteria.filter}} - {{filterCriteria.criteria}} <i class="fa fa-times-circle" aria-hidden="true"></i></p>
        </div>
    </div>
</div>
