<!-- Application navbar section -->
<app-navbar (themeModeHander)="onThemModeChange($event)"></app-navbar>

<div class="white-mode-wrapper" [ngClass]="{'dark-mode-wrapper': darkMode}">
    <div class="wrapper">
        <!-- Application toolbar section -->
        <div class="toolbar-section">
            <div class="row">
                <div class="col-3 toolbar-item" (click)="file.click()">
                    <i class="fa fa-upload" aria-hidden="true"></i><br/>
                    <input type="file" style="display: none;" #file (change)="onFileSelected($event)"/>
                    <p>Import Log File</p>
                </div>

                <div class="col-3 toolbar-item" (click)="onFleCopy()">
                    <i class="fa fa-clone" aria-hidden="true"></i><br/>
                    <p>Copy Board</p>
                </div>

                <div class="col-3 toolbar-item">
                    <i class="fa fa-download" aria-hidden="true"></i><br/>
                    <p>Export Log File</p>
                </div>

                <div class="col-3 toolbar-item">
                    <i class="fa fa-cog" aria-hidden="true"></i><br/>
                    <p>Settings</p>
                </div>
            </div>
        </div>

        <!-- Application copy section -->
        <div class="copy-section" *ngIf="inCopy">
            <textarea cols="10" rows="5" [(ngModel)]="copySource">
            </textarea>
            <button class="btn btn-primary process-btn" [disabled]="copySource.length === 0" (click)="loadCopy()">Process</button>
        </div>

        <!-- Application filter section -->
        <div class="filter-section">
            <input #filterInput class="filter-input" type="text" placeholder="Filter by words"/>

            <select #selectInput class="select-input">
                <option value="Contains">Contains</option>
                <option value="Excludes">Excludes</option>
            </select>

            <button class="add-filter" (click)="onFilterCriteriaAdd(filterInput.value, selectInput.value, filterInput)"><i class="fa fa-plus" aria-hidden="true"></i></button>

            <select class="time-window-input" [(ngModel)]="selectedTime" (change)="refreshFile()">
                <option value="0">All time</option>
                <option value="12">12 hrs</option>
                <option value="6">6 hrs</option>
                <option value="3">3 hrs</option>
                <option value="1">1 hrs</option>
            </select>

            <button class="search-filter"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

        <!-- Application filter display section -->
        <div *ngIf="filterCriteriaList.length > 0" class="filter-display-section">
            <p *ngFor="let filterCriteria of filterCriteriaList; let i = index" (click)="onFilterCriteriaRemove(i)">{{filterCriteria.filter}} - {{filterCriteria.criteria}} <i class="fa fa-times-circle" aria-hidden="true"></i></p>
        </div>

        <!-- Application levels filter section -->
        <div class="filter-level-section" *ngIf="selectedLog">
            <div *ngIf="selectedLog.value && !darkMode">
                <span *ngFor="let levelSchema of selectedLog.value">
                    <span *ngIf="levelSchema.level" [ngStyle]="{'background-color': levelSchema.color}" [ngClass]="{'opacity': isLevelSelected(levelSchema.level)}" class="levels" (click)="onLevelSelected(levelSchema.level)">
                        {{levelSchema.level}}
                    </span>
                </span>
            </div>
            <div *ngIf="selectedLog.value && darkMode">
                <span *ngFor="let levelSchema of selectedLog.value">
                    <span *ngIf="levelSchema.level" [ngStyle]="{'border': '1px solid' + levelSchema.color}" [ngClass]="{'opacity': isLevelSelected(levelSchema.level)}" class="levels" (click)="onLevelSelected(levelSchema.level)">
                        {{levelSchema.level}}
                    </span>
                </span>
            </div>
            <select #option (change)="loadSelectedLogSchema(option.value)">
                <option value="none" selected disabled hidden>{{selectedLog.key}}</option>
                <option *ngFor="let log of logs" [value]="log">{{log}}</option>
            </select>
        </div><hr/>

        <!-- Application logs display section -->
        <div class="log-display-section">
            <div class="card" *ngFor="let line of fileLines">
                <div class="card-body">
                    <span *ngIf="line.level && !darkMode" class="card-title"><span class="timestamp">{{line?.timeStamp}}</span> <span [ngStyle]="{'background-color': line.level?.color}" class="levels card-level">{{line.level?.level}}</span></span>
                    <span *ngIf="line.level && darkMode" class="card-title"><span class="timestamp">{{line?.timeStamp}}</span> <span [ngStyle]="{'border': '1px solid' + line.level?.color}" class="levels card-level">{{line.level?.level}}</span></span>
                    <p>{{line.line}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
